.product-detail-flex-left {
  width: 35%;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 1;
}
.product-detail-flex {
  display: flex;
  margin-top: 30px;
  height: 80vh;
  position: relative;
}
.product-detail-flex-left .description p {
  font-size: 15px;
}
.product-detail-flex-left .description {
  font-size: 15px;
  position: relative;
  transition: 0.5s;
  overflow: hidden;
}
.xem-them {
  color: rgb(28, 199, 73);
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: black;

  box-shadow: 0 0 10px black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: -11px -4px 15px black;
}
.xem-them p {
  margin: 0;
}
.product-detail-play-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 36px;
  background: rgb(28, 199, 73);
  border-radius: 5px;
  margin-top: 30px;
}
.product-detail-play-item i {
  margin: 5px;
}
.product-detail-play {
  display: flex;

  gap: 20px;
}
.anlbum button {
  margin-top: 30px;
  width: 100px;
  height: 36px;
  background: rgb(45, 47, 52);
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
}
.video {
  position: relative;
}
.box-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 533px;
  box-shadow: 80px 80px 3rem black inset, -80px -80px 3rem black inset;
}

.speak {
  position: absolute;
  right: 40px;
  bottom: 10px;
  font-size: 20px;
  cursor: pointer;
}

.product-detail-flex-right {
  height: 700px;
  position: absolute;
  width: 68%;
  right: 0;
}

.product-detail-flex2 {
  display: flex;
  justify-content: space-between;
}
.product-detail-flex2-left {
  width: 66%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.04);
  border-radius: 10px;
}
.product-detail-flex2-right {
  width: 25%;
  background-color: rgba(255, 255, 255, 0.04);
  padding: 20px 27px;
  border-radius: 10px;
  height: 633px;
}

.product-detail-flex2-left-header {
  display: flex;
  gap: 15px;
  align-items: center;
}
.product-detail-flex2-left-header p {
  color: rgb(169, 169, 172);
  margin: 0;
  padding: 20px 0;
}
.product-detail-flex2-right-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.product-detail-flex2-right-container h5 {
  margin: 0;
}
.product-detail-flex2-left-container div {
  transition: 0.5s;
}
.product-detail-flex2-right-container-item {
  display: flex;
  gap: 20px;
}
.product-detail-flex2-right-container-item img {
  border: 1px solid white;
  width: 65px;
  height: 94px;
}
.product-detail-flex2-right-container-item h5 {
  font-weight: bold;
}
.product-detail-flex2-right-container-item p {
  margin: 10px 0 0 0;
  color: rgb(169, 169, 172);
}

.product-detail-flex2-right-container-item .star-container {
  margin: 5px 2px !important;
  padding: 0 !important;
}

.traler {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;
  width: calc(100% - 200px);
  height: 100vh;
  padding: 100px;
}
.traler i {
  font-size: 25px;
  transition: 0.5s;
}

.traler i:hover {
  font-size: 25px;
  color: red;
}
