.container {
  /* position: absolute;
  left: 0;
  top: 0; */
  /* transform: translate(-50%, -50%); */
  width: 100%;
  height: 700px;
  padding: 50px;
  background-color: #f5f5f5;
}
#slide {
  width: max-content;
  margin-top: 50px;
}
.item {
  width: 200px;
  height: 300px;
  background-position: 50% 50%;
  display: inline-block;
  transition: 0.5s;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 58%;
  transform: translate(0, -50%);
  border-radius: 20px;
}
.item:nth-child(1),
.item:nth-child(2) {
  left: 0;
  top: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
  box-shadow: 100px -150px 5rem 0px black inset;
}
.item:nth-child(1) .post,
.item:nth-child(2) .post {
  transition: 0.5s;
  display: none;
}
.item:nth-child(3) {
  left: 50%;
}
.item:nth-child(4) {
  left: calc(50% + 220px);
}
.item:nth-child(5) {
  left: calc(50% + 440px);
}
.item:nth-child(n + 6) {
  left: calc(50% + 660px);
  opacity: 0;
}
.item .content {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 400px;
  text-align: left;
  padding: 0;
  color: #eee;
  transform: translate(0, -50%);
  display: none;
  font-family: system-ui;
}
.item:nth-child(2) .content {
  display: block;
  z-index: 11111;
}
.item .name {
  font-size: 40px;
  font-weight: bold;
  opacity: 0;
  animation: showcontent 1s ease-in-out 1 forwards;
}

.item .name img:last-child {
  position: absolute;
  top: 70px;
  right: -710px;
  width: 300px;
  height: 100px;
}
.item .name img:first-child {
  margin-left: 130px;
  margin-top: 30px;
  width: 400px;
  height: 400px;
  transition: 0.5s;
}
.item .des {
  margin: 20px 0;
  animation: showcontent 1s ease-in-out 1 forwards;
}
.item button {
  padding: 10px 20px;
  border: none;
  animation: showcontent 1s ease-in-out 1 forwards;
}
@keyframes showcontent {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
    filter: blur(0);
  }
}
.buttons {
  position: absolute;
  top: 12%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  width: 100%;

  align-items: center;
}
.buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.5s;
  margin: 0 40px;
  border: none;
  font-size: 30px;
  color: #dddddd;
  text-shadow: 0 0 10px black;
}
.post {
  object-fit: cover;
}
.star-ratings {
  margin-top: 10px;
}
.raiting {
  display: flex;
  align-items: baseline;
}
.raiting p {
  font-weight: bold;
  color: rgb(28, 199, 73);
  margin: 0;
}
.raiting span {
  padding: 3px 10px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  font-size: 12px;
  margin: 5px;
}

.description p {
  font-size: 12px;
}
