.home {
  box-shadow: 100px 120px 7rem black inset;

  position: relative;
  overflow: hidden;
}

.video-js {
  width: 100%;
  height: 865px;
  margin-top: -150px;

  position: relative;
}
.video-js video {
  position: relative;
  top: -117vh;
  z-index: -1;
}
.performer {
  color: white;
  padding: 0 40px;
}
.performer-flex-item img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.performer-flex-item {
  text-align: center;
}
.performer-flex {
  overflow: hidden;
}
.performer-flex .slick-arrow {
  display: none;
}
